.navbar-brand > img { height: 25px; }

body {
    font-family: 'Montserrat', sans-serif;
}


.btn-color {
    background-color: salmon;
    color: white;
}

.salmon-text-color {
    color: salmon;
}

.nav-color {
    background-color: salmon;
}

.cover-img {
    width: 400px;
}



